<center>
  <h1> <%= @player_1.name %> vs. <%= @player_2.name %> </h1>
    <h2> <%= @player_2.name %>: <%= @player2.hit_points %>HP </h2>
  </center>

<form action="/attack">
  <input type="submit" value="Attack">
  </form>
